*
    padding 0
    margin 0
    box-sizing border-box

body
    font-family: Arial, Helvetica, sans-serif

.contenedor
    width 100%
    padding 30px
    // max-width 800px
    display flex
    align-items center
    justify-content center
    flex-direction column
    flex-wrap wrap

.acceso
    align-self flex-end
    justify-content flex-end
    margin-bottom 30px

.acceso__btn
    background-color #309BC7
    color white
    font-weight: 700
    padding 10px 20px
    border-radius 20px
    text-decoration none
    &:hover
       background-color #343A40

.logo
    align-items center
    // align-self center

.logo__img
    padding 0 30px
    width 400px

.container
    width 400px
    height 400px
    background white
    margin 40px auto
    overflow hidden

.pesquera
    width 200px
    margin: 0 auto
    display: block
    animation: pesquera 5s infinite

@keyframes pesquera
    0%
        transform: translateY(-50px)
    30%
        transform: translateY(0) rotate(5deg)
    50%
        transform: rotate(-5deg)
    75%
        transform: rotate(5deg)
    100%
        transform: translateY(-50px)
