colorprin = #309BC7
colorosc = #3080C7
colorsec = #343A40

*
    margin 0px
    padding 0px
    font-size 15px
    list-style none
    text-decoration none
    box-sizing border-box
    font-family 'Roboto',sans-serif
    font-size 9pt

html
    margin 4mm 4mm 4mm 4mm

// h2,h3,h4,h5,ul,body,html
//     padding 0px
//     list-style none
//     text-decoration none
//     box-sizing border-box
//     font-family 'Roboto',sans-serif

table
    // border-spacing 0
    width 100%

.mtop5
    margin-top 5px

.mtop10
    margin-top 10px

.mtop16
    margin-top 16px

.mbottom5
    margin-bottom 5px

.negrita
    font-weight bold

.subrayado
    text-decoration underline

.text-left
    text-align left !important

.text-right
    text-align right !important

.text-center
    text-align center !important

.text-justify
    text-align justify !important

.letra7
    font-size 7pt

.letra8
    font-size 8pt

.letra9
    font-size 9pt

.letra10
    font-size 10pt

.letra11
    font-size 11pt

.letra12
    font-size 12pt

.letra30
    font-size 30pt

.letra40
    font-size 40pt

.espaciado09
    line-height 0.9em

.espaciado
    line-height 1em

.espaciado12
    line-height 1.2em

.espaciadodoble
    line-height 2em

.cuadro
    // border-radius 5px
    width 100%
    border 1px solid black

.borde-inferior
    border-bottom 1px solid black

.header
    width 100%
    tr
        td
            padding 0.3em

.razsoc
    font-weight bold
    font-size 15pt

.direccion
    font-size 9pt

.numero
    font-size 12pt
    line-height 1.5em
    // margin 10 0 10 10
    margin-right -6px
    font-weight bold
    padding-top 20px
    padding-bottom 20px
    border 1px solid black
    border-radius 10px

.tabla
    tr
        td
            padding 0.3em
            font-size 9pt
            // height 160px

.detalle
    margin-right -2px
    font-size 9pt
    table
        border-collapse collapse
        th,td
            text-align center
            border 1px solid black
            padding 0.2em

.table-materia-prima
	white-space: nowrap;
	overflow-x: auto;
    
// .footer
//     border 1px solid black
//     line-height 10px
//     font-size 9pt
//     table
//         width 100%

.totales
    padding 3px
    border-collapse collapse
    td
        padding 0.3em
        border 1px solid black

.letras
    width 100%
    border-collapse collapse
    td
        padding 0.3em
        // border 1px solid black

.altura30
    height 30px

.altura50
    height 50px

.altura70
    height 70px

.altura100
    height 100px

.altura200
    height 200px