html
    //margin 0px
    margin 4mm 8mm 4mm 8mm

h2,h3,h4,h5,ul,body,html
	padding 0px
	list-style none
	text-decoration none
	box-sizing border-box
    font-size: 
	font-family 'Roboto',sans-serif

.mtop5
    margin-top 5px

.mtop16
    margin-top 16px

.negrita
	font-weight bold

.subrayado
    text-decoration underline

.cuadro
    width 100%
    border 1px solid black

.filacolumna
    text-align left
    border 1px solid black
    border-collapse collapse
    padding 0.3em

.filacolumnaredondeado
    border 1px solid black
    border-collapse collapse
    padding 0.3em
    border-radius 10px

.cuadroredondeado
    width 100%
    border 1px solid black
    padding 0.3em
    border-radius 10px

.cuadropagina
    width 100%
    height 930px
    border 1px solid black
    padding 0.5em

.cuadrofecha
    width 100%
    border 1px solid black
    padding 0.5em

.cuadro100
    width 100%
    height 100px
    padding 0.5em
    border 1px solid black

.cuadro120
    width 100%
    height 120px
    padding 0.5em
    border 1px solid black

.cuadro150
    width 100%
    height 150px
    padding 0.5em
    border 1px solid black

.cuadro200
    width 100%
    height 200px
    padding 0.5em
    border 1px solid black

.cuadrosborde
    width 100%

.tablasinbordes
    table
        width 100%
        th,td
            text-align left

.cuadrosinborde
    table
        width 100%
        th,td
            text-align left
            padding 0.3em

.sinborde
    th,td
        border 0px !important

.tdthcuadro
    text-align center
    border 1px solid black !important
    padding 0.2em

.cuadro-img
    margin-top 20px
    position relative
    display inline-block
    text-align center

.marcax
    position absolute
    top 30px
    left 30px

.marcaxcadera
    position absolute
    top 17px
    left 30px

.fondofirma
    position relative
    display inline-block

.firmapsico
    position absolute
    bottom 35px
    left 500px

.firmaalt25
    position absolute
    bottom 35px
    left 250px

.firmalab
    position absolute
    bottom 90px
    left 500px

.ptos
    margin-top 20px

.text-left
    text-align left !important

.text-right
    text-align right !important

.text-center
    text-align center !important

.text-justify
    text-align justify !important

.borde-inferior
    border-bottom 1px solid black

.letra7
    font-size 7pt

.lchicas
    font-size 8pt

.letra9
    font-size 9pt

.letra10
    font-size 10pt

.letra11
    font-size 11pt

.letra12
    font-size 12pt

.letra30
    font-size 30pt

.letra40
    font-size 40pt

.titulo
    width 100%
    tr
        padding 0.3em
        td
            padding 0.3em
            height 160px

.numero
    margin 10 0 10 10
    padding-top 20px
    padding-bottom 20px
    border 1px solid black
    border-radius 10px

.cliente
    width 100%
    line-height 10px
    font-size 9pt

.relato
    width 100%
    height 60px
    line-height 10px
    font-size 9pt

.titrelato
    font-size 10pt
    padding 0.2em

.detalle
    line-height 10px
    font-size 9pt
    table
        width 100%
        border-collapse collapse
        th,td
            text-align center
            border 1px solid black
            padding 0.3em

.detalleocupacional
    line-height 10px
    font-size 9pt
    table
        width 100%
        border-collapse collapse
        th,td
            text-align left
            border 1px solid black
            padding 0.3em

.detallegrande
    line-height 10px
    font-size 10pt
    table
        width 100%
        border-collapse collapse
        th,td
            text-align center
            border 1px solid black
            padding 0.6em

.celda
    text-align center
    border 1px solid black
    padding 0.6em

.celdachica
    text-align center
    border 1px solid black !important
    padding 0.2em

.celdamuychica
    text-align center
    border 1px solid black !important
    // padding 0.2em

.punteado
    border-bottom: 1px dashed black
    padding 0.1em

.lineainferior
    border-bottom 1px solid black
    padding 0.1em

.lineaderecha
    border-right 1px solid black
    padding 0.1em

.lineasupinf
    border-top 1px solid black
    border-bottom 1px solid black
    padding 0.1em

.aptitudrecomendacion
    height 200px

.aptitudrecomendacion2
    height 90px

.aptitudrestriccion
    height 300px

.aptitudrestriccion2
    height 140px

.psicomotivo
    height 60px

.audotoscopico
    height 30px

.aptitudfirma
    height 100px

.altura30
    height 30px

.altura50
    height 50px

.altura100
    height 100px

.altura200
    height 200px

.espaciadonormal
    line-height 1em

.espaciado
    line-height 1.2em

.espaciadomedio
    line-height 0.9em

.espaciadodoble
    line-height 2em

.tablacbordes
    th,td
        text-align center
        border 1px solid black
        padding 0.3em

.tablatodobordes
    table
        tbody
            tr
                th
                    text-align center
                    border 1px solid black !important
                    padding 0.3em
                td
                    text-align center
                    border 1px solid black !important
                    padding 0.3em

.tablacerobordes
    table
        tbody
            tr
                th
                    text-align center
                    border 0px !important
                    // padding 0.3em
                td
                    text-align center
                    border 0px !important
                    // padding 0.3em

.tablacerobordesizq
    table
        tbody
            tr
                th
                    text-align left
                    border 0px !important
                    // padding 0.3em
                td
                    text-align left
                    border 0px !important
                    // padding 0.3em

// .footer
//     line-height 10px
//     font-size 9pt
//     table
//         width 100%
        
.footer
    position fixed
    bottom 10px
    left 0px
    right 0px
    height 20px
    
.totales
    width 100%
    border-collapse collapse
    td
        padding 0.5em
        border 1px solid black

.letras
    width 100%
    border-collapse collapse
    td
        padding 0.5em
        border 0px

.marco
    padding 0.5em
    line-height 1.5em

.marcoestrecho
    padding 0.5em
    line-height 1.2em

.huella
    width 90px
    height 120px
    border 1px solid black

.pie
    font-size 8pt
    line-height 1.2em

.piechico
    font-size 7pt
    padding 1em